body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.game-container {
    perspective: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 50px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.6s ease;
}

.card.flip img {
    transform: rotateY(0deg);
}

.scoreboard {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width:600px){
    .game-container {
        grid-template-columns: repeat(4, 20%);
    }

    .card {
        width: 100%;
        height: 0;
        padding-bottom: 100;
    }
}

#congrats-message {
    margin-top: 20px;
    font-size: 20px;
    color: green;
    display: none;
}

.hidden {
    display: none;
}